<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://scontent.fhan14-5.fna.fbcdn.net/v/t39.30808-6/466852519_122118815894560352_2223844580386184228_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_ohc=eHfElArUVp8Q7kNvgHdSM3L&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&_nc_gid=Aftq5r0-Fr9AqCeokVSQtxY&oh=00_AYDK66CJJbGUMsacYCXS4WZHumhJ_juQPMMRot9ZpYzXJw&oe=673C1DC3" type="logoDVA">
    <title> DVA </title>
    <link rel="/home/doanh/Code/Web1/views/home.css" href="/home/doanh/Code/Web1/views/home.css">
    <style> h1 {
        text-align: center;
    }
    p {
        font-size: 20px;
    }
</style>
</head>

<body>
    <a href="home.html"> Home</a>
    <a href="login.html"> Login </a>
    <hr> 
    <h1 style="color: rgb(48, 48, 210);"> DVA </h1>
    <h2> Chào mừng đến với DVA </h2>
    <h3> Đây là trang web đầu tiên được thiết lập bởi Hoàng Tiến Doanh </h3>
    <h3> Trang web đóng vai trò là bước khởi đầu về bước đầu học IT.</h3>
    <img height="200"
    src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-6/462032805_1060544939080565_8482139372233109129_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFPTH03yYIm5axfNE9RqetsFvUCuH6OWMgW9QK4fo5YyBYq1MwKrP7hkekL0QZFbgIlTnUPNjxmEqb6_DUnsI7e&_nc_ohc=wR1QPpiVW5EQ7kNvgFbDHZC&_nc_zt=23&_nc_ht=scontent.fhan14-3.fna&_nc_gid=ApAbxXOzIkdB_WtsoaFobDc&oh=00_AYCwsmLYGox3dxkd_lih69yWNnyhPR10QYBEsxfwNhIw1Q&oe=673C3278" alt=" Đây là người yêu mình ">
    <p> Đây là người yêu mình.</p>
    <img height="200" width="200"
    src="https://scontent.fhan14-5.fna.fbcdn.net/v/t39.30808-6/467314394_1088832256251833_2473965896539321121_n.jpg?stp=dst-jpg_p526x296&_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH0adOBbV33rJ1AotZTxxcXHtl6ryt3_qse2XqvK3f-q76xAkHC6-UKkpi7lbRj-lXBOSkQ1zERDigGqGEXNg0U&_nc_ohc=9Vga3xbM3uAQ7kNvgGQU9Ro&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&_nc_gid=AuHKoeIP9SYzWrNFAYXYnm1&oh=00_AYCWLx8RLE6DoIBrF60X_RXMClpKdiQNgwouUaA2LaemaA&oe=673C3A80" alt="Đây là mình">
    <p> Đây là mình. </p>
</body>
</html>